.home-container {
  margin: 1rem;
}

.components-title {
  font-size: 3.5rem;
  font-weight: 700;
}

.components-heading {
  margin: 2rem 0 0 0;
}

.components-container {
  margin-top: 2rem;
  margin-left: 2rem;
}

.components-container a {
  text-decoration: none;
}